
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome!</h1>
    </div>
    <div class="col">
      <button>Login with Google</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      ENTRIES WILL GO HERE!
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <input type="datetime" name="datetime" id="datetime" placeholder="Date & Time">
      </div>
      <div class="row">
        <input type="text" name="" id="" placeholder="Optional Note">
      </div>
      <div class="row">
        <div class="col">
          3 Stars <input type="checkbox" name="" id="">
        </div>
        <div class="col">
          2 Stars <input type="checkbox" name="" id="">
        </div>
        <div class="col">
          1 Star <input type="checkbox" name="" id="">
        </div>
      </div>
    </div>
    <div class="row">
      <button>Add</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
